:root {
    --primary-color: #FFCC33;
    --secondary-color: #000000;
    --tertiary-color: #969696;
    --quaternary-color: #F5DAEC;
    --quinary-color: #DEE8EA;
    --senary-color: #3EB8B0;
    /* --primary-font-family: 
    --secondary-font-family: */ 
} 