.btn-price {
    width: 60px;
    height: 23px;
    padding: 18px;
    text-align: center;
    border-radius: 15px;
    font-weight: 900;
    font-size: larger;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}